[SddmGreeterTheme]
Name=Archlinux Dark
Description=Archlinux Dark Theme
Author=Brian Ashworth
Copyright=(c) 2017, Brian Ashworth
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/RedSoxFan/sddm-archlinux-theme
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=bosrsf04@gmail.com
Theme-Id=archlinuxdark
Theme-API=2.0
